body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    font-size: 20px;
}

header {
    background: #222;
    color: white;
    padding: 30px;
}

h1 {
    font-size: 48px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.content {
    display: none;
    padding: 60px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

#coffeeImage {
    width: 500px;   
    margin-top: 20px;
}

.preview {
    display: block;
    margin: 20px auto;
    width: 1000px;
}


button {
    padding: 15px 30px;
    font-size: 20px;
    border: 2px solid #888589;
    background-color: #c705f8;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #bb00ff;
}

textarea {
    width: 600px;
    height: 200px;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
}

input[type="text"] {
    width: 400px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    transition: opacity 0.3s ease;
}

/*HOVER*/
nav a:hover {
    opacity: 0.5;
}

/*Diary*/
input[type="date"] {
    font-size: 20px;
    padding: 5px;
}

#diaryText {
    width: 600px;
    height: 250px;
    font-size: 18px;
    padding: 10px;
}

/*Hobbies*/
.hobby-item {
    position: relative;
    text-align: left;
    margin: 40px auto;
    padding: 20px;
    width: 70%;
    cursor: pointer;
    overflow: hidden;
    border-bottom: 2px solid #ccc;
}

.hobby-item h3 {
    font-size: 32px;
    margin: 0;
    position: relative;
    z-index: 2;
}

.hobby-detail {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.hobby-detail ul {
    margin-top: 15px;
    font-size: 20px;
}

.hobby-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.hobby-item.guitar::before {
    background-image: url("../images/guitar.jpg");
}

.hobby-item.camera::before {
    background-image: url("../images/camera.jpg");
}

.hobby-item.beans::before {
    background-image: url("../images/beans.jpg");
}


.hobby-item:hover::before {
    opacity: 0.2;
}

section {
    position: relative;
    background-image: url("../images/coffee.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    overflow: hidden;
}

section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

section * {
    position: relative;
    z-index: 1;
}

/* home */

#home {
    padding: 80px 10%;
    color: white;
    position: relative;
    background: url("../images/coffee.jpg") center/cover no-repeat;
}

#home::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

#home > * {
    position: relative;
    z-index: 1;
}

/* HERO */
.home-hero {
    text-align: center;
    margin-bottom: 60px;
}

.home-title {
    font-size: 48px;
}

.home-sub {
    font-size: 22px;
    opacity: 0.8;
}

/* SUMMARY */
.home-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.summary-text {
    width: 45%;
    font-size: 20px;
}

.summary-chart {
    width: 45%;
    text-align: center;
}

/* STRENGTH */
.home-strength ul {
    list-style: none;
    font-size: 22px;
    line-height: 2;
}

/* fade in */
.fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: all 2s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}
